---
stages:
  - test

image: tonipamies/molecule:last

variables: &global-variables
  PY_COLORS: '1'
  ANSIBLE_FORCE_COLOR: '1'
  ROLE_NAME: vim

#
# Templates
#
.test-molecule-script: &molecule_test
    - cd .. && ln -sf $CI_PROJECT_DIR $ROLE_NAME && cd $ROLE_NAME
    - molecule test

#
# Tests
#
molecule_centos_8:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: centos:8
    MOLECULE_INSTANCE_NAME: Centos-8
  script:
   - *molecule_test

molecule_debian_buster:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: debian:buster
    MOLECULE_INSTANCE_NAME: Debian-Buster
  script:
    - *molecule_test

molecule_debian_bullseye:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: debian:bullseye
    MOLECULE_INSTANCE_NAME: Debian-Bullseye
  script:
    - *molecule_test

molecule_ubuntu_bionic:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: ubuntu:bionic
    MOLECULE_INSTANCE_NAME: Ubuntu-Bionic
  script:
    - *molecule_test

molecule_ubuntu_focal:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: ubuntu:focal
    MOLECULE_INSTANCE_NAME: Ubuntu-Focal
  script:
    - *molecule_test

molecule_ubuntu_groovy:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: ubuntu:groovy
    MOLECULE_INSTANCE_NAME: Ubuntu-Groovy
  script:
    - *molecule_test

molecule_fedora_31:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: fedora:31
    MOLECULE_INSTANCE_NAME: Fedora-31
  script:
    - *molecule_test

molecule_fedora_32:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: fedora:32
    MOLECULE_INSTANCE_NAME: Fedora-32
  script:
    - *molecule_test

molecule_fedora_33:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: fedora:33
    MOLECULE_INSTANCE_NAME: Fedora-33
  script:
    - *molecule_test

molecule_fedora_34:
  stage: test
  variables:
    <<: *global-variables
    MOLECULE_DISTRO: fedora:34
    MOLECULE_INSTANCE_NAME: Fedora-34
  script:
    - *molecule_test
